# Tutorial Basico Pandas

Nesse tutorial vamos aprender funções basicas do pandas trabalhando com um conjunto de dados sobre os pokemons disponivel no site Kaggle (https://www.kaggle.com/abcsds/pokemon)

Conteudo :
- Leitura de arquivos
- Descrição Estatística 
- Indexação dos elementos
- Reorganizando Dados
- Filtrando dados
- Reagrupando dados
- Salvando dataframe

Material auxiliar:
- https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
- https://medium.com/data-hackers/uma-introdu%C3%A7%C3%A3o-simples-ao-pandas-1e15eea37fa1

#### Import pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Criação de dados

In [ ]:
s = pd.Series([1, 3, 5, None, 6, 8]) # Cria uma serie de dados
print(s)

dates = pd.date_range('20200401', periods=6)
dataframe = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(dataframe)

## Leitura de arquivos

A biblioteca pandas permite a criação da estrutura de dados utilizando diferentes formartos dentre eles:

Formatos:
- CSV : Comma-separated values (Arquivo separado por virgulas)
- txt : Arquivo de texto (Precisa definir um separador)
- xlsx : Formato utilizado pelo excel

Neste arquivo vamos nos concentrar no formato mais utilizado csv.
A seguir trabalharemos com o conjuntos de dados dos pokemons

In [ ]:
df = pd.read_csv('pokemon_data.csv',index_col=False) # Leitura do arquivo formato csv
#df = pd.read_excel('pokemon_data.xlsx') # leitura arquivo em formato xlsx
#df = pd.read_csv('pokemon_data.txt', delimiter='\t') # leitura arquivo txt
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

###### Visualizar os dados

In [ ]:
df.head(3) # Apresenta apenas os 3 primeiros itens

In [ ]:
df.tail(3) # Apresenta apenas os 3 ultimos itens

###### Apresentando intervalos

In [ ]:
df[5:10]

## Descrição Estatística 

Podemos gerar um relatorio estatístico basico apartir da função describe.

In [ ]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

Podemos gerar um histograma sobre qualquer coluna do conjunto de dados

In [ ]:
df['HP'].hist()

## Indexação dos elementos

Existem diversos formas de realizar a leitura da estrutura de dados aconselhamos verificar a documentação para maiores informações

###### Selecionando uma ou mais colunas

In [ ]:
df['Name'] 
#df.Name

In [ ]:
df[['Name','HP']]

###### Leitura apartir de uma posição específica (Linha, Coluna)

In [ ]:
df.iloc[2,1]

In [ ]:
df.loc[df['Type 1'] == 'Fire'][:10] # Selecionando os 10 primeiros pokemons do elemento fogo

###### Iterando o dataframe

In [ ]:
for index, row in df.iterrows():
  print(index, row['Name'])

## Reorganizando Dados

In [ ]:
# Apresentar em ordem decrecente os pokemons com base no seu ataque

df.sort_values('Attack',ascending=False)

Podemos Criar novas colunas por atribuição

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df

Para deletar colunas de forma analoga é preciso reatribuir

In [ ]:
df = df.drop(columns=['Total'])
df

## Filtrando dados

In [ ]:
#Apresentar Os pokemons Lendarios
df.loc[df['Legendary'] == True]

In [ ]:
#Apresentar os pokemons com HP superior a 100
df[df['HP'] > 100]

In [ ]:
# Selecionar pokemons do tipo Grass e Poison com Hp maior que 70
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] # & operador and | operador or

In [ ]:
#Encontrar os pokemons que contem forma Mega
df.loc[df['Name'].str.contains('Mega')] # ~ simbolo para negação

## Reagrupando dados

In [ ]:
#Reagrupar os pokemons pelo seu tipo realizando a media entre cada elemento

df.groupby(['Type 1']).mean()

In [ ]:
# Quantos pokemonks de cada tipo 
df.groupby(['Type 1']).count()['#']

## Salvando dataframe

In [ ]:
df.to_csv('modified.csv', index=False)
#df.to_excel('modified.xlsx', index=False)


1. Todos os pokemons com ataque inferior 120
```
Saida esperada : (691 rows × 12 columns)
```

2. Apresentar o pokemon mais rapido do tipo agua
```
 ID	#	Name	Type 1	Type 2	HP	Attack	Defense	Sp. Atk	Sp. Def	Speed	Generation	Legendary
726  658	Greninja	Water	Dark	72	95	67	103	71	122	6	False
```


3. Reagrupar apresentando o maior ataque de cada tipo pokemon
```
Type 1
Bug         185
Dark        150
Dragon      180
Electric    123
Fairy       131
Fighting    145
Fire        160
Flying      115
Ghost       165
Grass       132
Ground      180
Ice         130
Normal      160
Poison      106
Psychic     190
Rock        165
Steel       150
Water       155
Name: Attack, dtype: int64
```

# Proximos Passos

Curso do Kaggle da biblioteca Pandas é bastante completo e uma boa forma de aprofundar o que foi apresentado nesta introdução.

 - [Kaggle - Curso Pandas ](https://www.kaggle.com/learn/pandas)

Cheat Sheet sintetizando o kit basico do Pandas 
 - [Datacamp CheatSheet](http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3)
 - [PyData CheatSheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)